In [3]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mac/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/mac/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [12]:
# Series
data = ['a', 'b', 'c', 'd', 'e']

se = pd.Series(data)

type(se)

se.index
se.values

se[0:3]

se.name = 'ddong'
se.index.name = 'index'
print(se)

index
0    a
1    b
2    c
3    d
4    e
Name: ddong, dtype: object

In [15]:
# DF (DataFrame = Excel)
data = {
    'country': ['kor', 'usa', 'china', 'japan'],
    'rank' : [1, 2, 3, 4],
    'grade' : ['A', 'B', 'C', 'D']
}

df = pd.DataFrame(data) # csv to json, json to csv, xlsx
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [22]:
# 데이터 셀렉션 -> 데이터를 불러오는 방법
# (1) df.컬럼, df['컬럼']
# 하나의 컬럼 데이터를 불러오면 그것을 시리즈라고 한다!?

df.grade

df[['country', 'rank', 'grade']] # 2개 이상의 컬럼데이터를 불러오려면 대괄호를 한번 더 써서 감싸줘야한다고 한다..

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [27]:
# (2) df.loc[인덱스값, 컬럼명]
df.loc[1] # 인덱스 값은 행 데이터를 불러오는 것이라고 함
df.loc[:] # 전체 데이터 불러올려면 콜론 넣으면 된다고 함 
df.loc[:, ['grade']] # 전체 데이터에서 특정한 데이터만 불러올 때 쓰이는 코드
df.loc[df['rank'] > 2] # 조건 값도 가능..

  country  rank grade
2   china     3     C
3   japan     4     D

In [36]:
# 삭제하는 방법 (drop)
# (1) 단순하게 행 데이터를 삭제하는 방법
df.drop([3], inplace=True)

In [35]:
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C