In [3]:
%pip install pandas

Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (2.2.1)
Requirement already satisfied: numpy<2,>=1.26.0 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/mac/Library/Python/3.12/lib/python/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.12/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in /Users/mac/Library/Python/3.12/lib/python/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 23.3.2 -> 24.0
[notice] To update, run: python3 -m pip install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [5]:
import pandas as pd

In [12]:
# Series
data = ['a', 'b', 'c', 'd', 'e']

se = pd.Series(data)

type(se)

se.index
se.values

se[0:3]

se.name = 'ddong'
se.index.name = 'index'
print(se)

index
0    a
1    b
2    c
3    d
4    e
Name: ddong, dtype: object

In [15]:
# DF (DataFrame = Excel)
data = {
    'country': ['kor', 'usa', 'china', 'japan'],
    'rank' : [1, 2, 3, 4],
    'grade' : ['A', 'B', 'C', 'D']
}

df = pd.DataFrame(data) # csv to json, json to csv, xlsx
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [22]:
# 데이터 셀렉션 -> 데이터를 불러오는 방법
# (1) df.컬럼, df['컬럼']
# 하나의 컬럼 데이터를 불러오면 그것을 시리즈라고 한다!?

df.grade

df[['country', 'rank', 'grade']] # 2개 이상의 컬럼데이터를 불러오려면 대괄호를 한번 더 써서 감싸줘야한다고 한다..

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C
3   japan     4     D

In [27]:
# (2) df.loc[인덱스값, 컬럼명]
df.loc[1] # 인덱스 값은 행 데이터를 불러오는 것이라고 함
df.loc[:] # 전체 데이터 불러올려면 콜론 넣으면 된다고 함 
df.loc[:, ['grade']] # 전체 데이터에서 특정한 데이터만 불러올 때 쓰이는 코드
df.loc[df['rank'] > 2] # 조건 값도 가능..

  country  rank grade
2   china     3     C
3   japan     4     D

In [36]:
# 삭제하는 방법 (drop)
# (1) 단순하게 행 데이터를 삭제하는 방법
df.drop([3], inplace=True)

KeyboardInterrupt:

In [37]:
df

  country  rank grade
0     kor     1     A
1     usa     2     B
2   china     3     C

In [40]:
# (2) 컬럼을 삭제하는 방법
df = df.drop('rank', axis=1)

KeyError: "['rank'] not found in axis"

In [43]:
df['rank'] = [1,2,3]
df

  country grade  rank
0     kor     A     1
1     usa     B     2
2   china     C     3

In [46]:
# 기술통계
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3 entries, 0 to 2
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   country  3 non-null      object
 1   grade    3 non-null      object
 2   rank     3 non-null      int64
dtypes: int64(1), object(2)
memory usage: 204.0+ bytes

       rank
count   3.0
mean    2.0
std     1.0
min     1.0
25%     1.5
50%     2.0
75%     2.5
max     3.0

In [50]:
# 데이터 정렬 => sort_index or sort_values()
df['new_rank'] = [10, 100, 30]

df.sort_values(by='new_rank', ascending=False) # 내림차순

  country grade  rank  new_rank
1     usa     B     2       100
2   china     C     3        30
0     kor     A     1        10

In [53]:
# null 데이터(NaN) 처리
# isnull() => 데이터의 null 여부
# fillna() => null 데이터를 채워줘
#dropna() => null 데이터를 지워줘
import numpy as np
df.loc[1, 'grade'] = np.nan

df.isnull().sum()

country     0
grade       1
rank        0
new_rank    0
dtype: int64

In [54]:
# 영화 데이터 분석

import pandas as pd

json_data = {
  "columns": ["Movie", "Release Year", "Audience", "Rating"],
  "index": [0, 1, 2, 3, 4, 5, 6, 7],
  "data": [
    ["Avengers", 2012, 1500, 8.8],
    ["Interstellar", 2014, 1100, 9.1],
    ["Frozen", 2013, 1020, 8.5],
    ["About Time", 2013, 950, 8.7],
    ["The Dark Knight", 2008, 1300, 9.0],
    ["Inception", 2010, 1200, 8.8],
    ["La La Land", 2016, 800, 8.6],
    ["Toy Story", 2010, 980, 8.5]
  ]
}

# JSON 데이터를 DataFrame으로 변환
df = pd.DataFrame(json_data['data'], columns=json_data['columns'])
df

             Movie  Release Year  Audience  Rating
0         Avengers          2012      1500     8.8
1     Interstellar          2014      1100     9.1
2           Frozen          2013      1020     8.5
3       About Time          2013       950     8.7
4  The Dark Knight          2008      1300     9.0
5        Inception          2010      1200     8.8
6       La La Land          2016       800     8.6
7        Toy Story          2010       980     8.5